@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
  --background: #ffffff;  /* Always white background */
  --foreground: #171717;  /* Dark foreground text */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;  /* Force background to white even in dark mode */
    --foreground: #171717;  /* Keep foreground dark */
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);  /* Apply the background color */
  font-family: Arial, Helvetica, sans-serif;
}